
{{> recipeInfo recipe}}

{{#if loggedIn}}
<div class="card">
    <form class="card-body comment-form" id="comment-form">
        <label class="form-label text-light">Comment</label>
        <input id="comment-body" name="comment-body" class="form-input" />
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}
<div>

{{> comments recipe.comments}}

<script src="/js/comment.js"></script>
</div>

