header,
.recipe:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #ccc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: blue;
  text-decoration: underline;
}

.cookBookBackground {
  background-image: url('../assets/cookbook.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.breakfastFunBackground {
  background-image: url('../assets/ratCooking.jpg');
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.RecipeBackground {
  background-image: url('../assets/PlatedBG.jpg');
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home-header {
  padding-left: 20px;
  color: #ccc;
}
header {
  background-color: black;
  color: #ccc;
}
.nav-a {
  color: #ccc;
}
.header-h1 {
  text-align: left;
}
.btn {
  background-color: #ccc;
  color: black;
}

.row {
  color: #ccc;
  font-family: 'Times New Roman', Times, serif;
}

p {
  color: #ccc;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: #ccc;
  font-family: 'Times New Roman', Times, serif;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #f0f5ff;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}
